.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 0 20px;
    text-align: center;
}